body
  &.lock
    overflow: hidden

.header
  position: relative
  top: 0
  left: 0
  width: 100%
  z-index: 10
  background: linear-gradient(90deg, #443682 14.58%, #28418A 39.75%, #00669C 68.41%)
  padding-top: 35px
  padding-bottom: 25px

  &__container
    max-width: 1435px
    margin: 0 0 0 140px

  &__wrap
    display: flex
    justify-content: space-between
    align-items: center

  &__inner-social
    display: flex
    justify-content: space-between
    align-items: center
    max-width: 150px
    width: 100%

  &__social
    max-width: 30px
    height: 30px

  &__icon
    width: 30px
    height: 30px
    transition: transform .4s
    &:hover
      transform: scale(0.90)
    &--instagram
      border-radius: 5px
      background: linear-gradient(49.12deg, #FFDD55 6.62%, #FF543E 50.06%, #C837AB 93.5%)
    &--clock
      &:hover
        transform: scale(1)

  &__inner
    display: flex
    justify-content: space-between
    align-items: center
    max-width: 370px
    width: 100%

  &__mode
    font-family: "Roboto-Regular", sans-serif
    font-weight: 400
    font-size: 20px
    line-height: 23px
    color: $white

  &__time
    max-width: 165px
    font-family: "Roboto-Regular", sans-serif
    font-weight: 400
    font-size: 15px
    line-height: 18px
    color: $white

  &__inner-contacts
    display: flex
    justify-content: space-between
    align-items: center
    max-width: 335px
    width: 100%

  &__link-number
    display: flex
    justify-content: space-between
    align-items: center
    max-width: 160px
    width: 100%
    &:hover .header__number
      &::after
        width: 100%

  &__icon-phone
    width: 20px
    height: 20px

  &__number
    font-size: 15px
    line-height: 18px
    color: $white
    position: relative
    &::after
      position: absolute
      content: ""
      width: 0
      border-top: 2px solid $white
      top: 103%
      left: 50%
      transform: translateX(-50%)
      transition: width .4s

  &__link
    padding: 14px 19px
    border: 1px solid $white
    border-radius: 8px
    font-size: 15px
    line-height: 18px
    color: $white
    transition: all .4s
    &:hover
      background-color: $white
      color: $black

.logo
  display: flex
  justify-content: space-between
  align-items: center
  position: relative
  width: 330px
  z-index: 5

  &__inner-logo
    margin-right: 24px
    width: 90px
    height: 90px

  &__img
    width: 100%
    height: 100%

  &__inner
    display: flex
    flex-direction: column
    align-items: flex-start

  &__excerpt
    font-size: 18px
    line-height: 21px
    color: $white
    &--bold
      font-family: "Roboto-Bold", sans-serif
      font-weight: 700
      font-size: 20px
      line-height: 23px

.burger
  display: none

.nav
  padding: 30px 65px
  max-width: 1170px
  width: 100%
  border-radius: 0px 0px 20px 20px
  background-color: $white
  position: absolute
  bottom: -56%
  left: 50%
  transform: translateX(-50%)

.menu

  &__item
    position: relative
    &::after, &::before
      position: absolute
      content: ""
      width: 0
      border-top: 2px solid $black
      top: 100%
      right: 0
      transition: all .4s
    &::before
      display: none
    &:hover
      &::after
        width: 100%
        left: 0
    &.active, &--main
      font-family: "Roboto-Bold", sans-serif
      font-weight: 700
      &::before
        display: inline-block
        width: 100%

/*-------------------------*/

body.touch

  .menu

    &__link
      flex: 1 1 auto
      transition: transform .4s ease 0s

/*-------------------------*/

@media screen and ( min-width: 940px )
  .menu
    display: flex
    align-items: center

    &__item
      margin-right: 63px
      font-size: 16px
      line-height: 19px
      color: $black
      &:last-child
        margin-right: 0

@media screen and ( max-width: 940px )
  .burger
    z-index: 5
    display: block
    width: 30px
    height: 18px
    position: relative
    cursor: pointer
    &::before, &::after, &__line
      position: absolute
      left: 0
      border-top: 1px solid $white
      width: 100%
      transition: all .4s ease 0s
      background-color: $white
    &::before, &::after
      content: ""
    &::before
      top: 0
    &::after
      bottom: 0
    &__line
      top: 50%
      transform: scale(1) translate(0, -50%)

    &.active
      &::before
        top: 50%
        transform: rotate(-45deg) translate(0, -50%)
      &::after
        bottom: 50%
        transform: rotate(45deg) translate(0, 50%)
      .burger__line
        transform: scale(0) translate(0, -50%)

  .nav
    position: fixed
    top: 0
    left: -100%
    width: 100%
    height: 100%
    background-color: rgba(0, 0, 0, 0.9)
    padding: 135px 30px 30px 30px
    transition: left .4s ease 0s
    overflow: auto
    &::before
      content: ""
      position: fixed
      top: 0
      left: 0
      width: 100%
      height: 115px
      background: linear-gradient(90deg, #443682 14.58%, #28418A 39.75%, #00669C 68.41%)
      z-index: 2
    &.active
      left: 0

  .menu

    &__item
      flex-wrap: wrap
      margin-bottom: 30px
      font-size: 24px
      &:last-child
        margin-bottom: 0
      &:hover
        &::after
          width: 0
